@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  --background: #ffffff;
  --foreground: #242424;

  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-roboto: 'Roboto', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #242424;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  display: flex;
  place-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-bottom: 5px;
  margin-top: 15px;
}

h2 {
  font-size: 1.5em;
  line-height: 1.1;
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
}

@media (max-width: 420px){
  .body{
    padding: 0.2rem;
  }
}
