.home{
    /*max-width: 1920px;*/
    /*width: 100vw;*/
    height: 100%;
    /*padding: 2rem;*/
}

.main-board{
    /*width: 100%;*/
    /*width: 100vw;*/
    height: 100%;
    background-color: #242424;
    border: solid #101010;
    border-radius: 20px;
}
